h1, h2, h3 {
    text-align:center;
}

hr {
    border-top:2px solid #aaa;
    margin:10px 20%;
}

.logged-in, .not-logged-in,
.loading-tracks, .loaded-tracks,
.loading-playlist, .loaded-playlist {
    display:none;
}
meter {
    width:100%;
    height:50px;
    transition:0s all;
}
meter::-webkit-meter-inner-element,
meter::-webkit-meter-bar,
meter::-webkit-meter-optimum-value {
    transition:0s all;
}
meter[value]::after {
    content:attr(value) "/" attr(max);
    height:50px;
    line-height:49px;
    font-size:26px;
}

#spotify-tracks td:nth-child(4),
#spotify-tracks td:nth-child(6),
#spotify-tracks td:nth-child(7){
    white-space:nowrap;
    text-align:right;
}
#spotify-tracks.search tbody tr:not(.search-result) {
    display:none;
}
.float-left {
    float:left;
}
.float-right {
    float:right;
}

footer {
    text-align:center;
    margin-top:16px;
}
aside, aside * {
    color:#aaa;
    font-size:14px;
    text-align:center;
}
.explanation {
    transition:0s all;
}
.playlist-status {
    font-size:inherit;
}

.top-row {
    display:flex;
    flex-flow:row nowrap;
    align-items:center;
    text-align:right;
    justify-content:flex-end;
}
.top-row > * {
    flex:none;
}
.search-box {
    flex:1 0 auto;
}